@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --poppins: "Poppins", sans-serif;
  --montserrat: "Montserrat", sans-serif;
   --blue: #068fa1;
  --light-color: #f0f7fa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
 
 
 /* home page */
.wrapper .home-page {
  /* border: 1px solid red; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: none;
  animation: none;
}
/* header */
.home-page .header {
  /* border: 2px solid green; */
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255);

}
.header .navigation {
  /* border: 1px solid blue; */
  height: 12vh;
  width: 100%;
  max-width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .logo {
  /* border: 1px solid red; */
  height: inherit;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logo img {
  height: 60%;
  transform: rotate(-25deg);
}

.logo .brand {
  text-decoration: none;
  color: var(--blue);
  font-size: 2.2rem;
  font-weight: 600;
  font-family: var(--poppins);
  text-shadow: none;
}

/* nav bar */
.navigation .nav {
  /* border: 1px solid red; */
  width: 45%;
  height: 100%;
}
.nav ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav ul li a {
  /* border: 1px solid; */
  text-decoration: none;
  color: black;
  font-family: var(--montserrat);
  font-weight: 500;
  font-size: 1rem;
  padding: 5px;
  position: relative;
}
.nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--blue);
  border-radius: 20px;
  transition: 0.8s;
}
.nav ul li a:hover::after {
  width: 100%;
}

.navigation .icons {
  /* border: 1px solid red; */
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons .fa-heart,
.icons .fa-cart-shopping,
.icons .fa-user {
  font-size: 1.5rem;
  color: var(--blue);
  transition: 0.5s;
}
.icons .fa-bars {
  font-size: 2rem;
  color: var(--blue);
  display: none;
}
.icons .fa-heart:hover,
.icons .fa-cart-shopping:hover,
.icons .fa-user:hover {
  color: black;
}

/* ----------navigation contact----------- */


.contact-page{
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 1%;
}
.contact-page .contact-title{
   text-align: center;
  font-family: var(--poppins);
  font-size: 1.8rem;
  margin-top: 1%;
  color: var(--blue);
}
.contact-page .contact-details{
  /* border: 2px solid red; */
  height: 15em;
  display: flex;
  gap: 5%;
  width: 95%;
  padding: 30px;
  background-color: #ceedf9;
  border-radius: 10px;
}
.contact-details .contact-card{
  border: 1px solid var(--blue);
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.contact-card .con-item1{
  font-family: var(--montserrat);
  font-size: 1.3rem;
  font-weight: 600;
}
.contact-card .con-item2, 
.contact-card .con-item3{
  font-family: var(--poppins);
  font-size: 1rem;
  font-weight: 600;
  color: gray;
  text-decoration: none;
}
.contact-page .map-form{
  /* border: 2px solid red; */
  height: 40em;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin-top: 1%;
  /* background: linear-gradient(
      to bottom,
     
      rgba(37, 182, 201, 0.5),
      rgb(240, 247, 250, 0.9)
    ) */
}
.map-form .map{
  /* border: 1px solid blue; */
  height: 80%;
  width: 45%;
}
.map iframe{
  opacity: .6;
}
.map-form .msg-form{
  /* border: 1px solid var(--blue); */
  height: 95%;
  width: 40%;
  background-color: #ceedf9;
  border-radius: 20px;
}
.msg-form form{
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}
.msg-form form .form-title{
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}
.msg-form form input{
  outline: none;
  background-color: white;
  /* border: 2px solid var(--blue); */
  width: 100%;
  color: black;
  font-family: var(--poppins);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 8px;
  border: #f5f5f5;
  border-radius: 10px;
}
.msg-form form input::placeholder{
  font-size: 1rem;
}
.msg-form form .value {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20%;
  font-size: 1rem;
}
.value label {
  font-size: 1.1rem;
  font-family: var(--poppins);
  font-weight: 500;
  color: black;
}
.msg-form form .message{
  height: 30%;
}
.msg-form form .message textarea::placeholder{
  font-size: 1rem;
}
.msg-form form .value textarea {
  margin: 25px 0 0 0;
  height: 90%;
  width: 100%;
  color: black;
  border: #f5f5f5;
  border-width: 2px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: var(--poppins);
  background-color: white;
  padding: 10px;
}
.msg-form form .button {
  outline: none;
  background-color: var(--blue);
  /* border: 2px solid var(--blue); */
  width: 30%;
  color: white;
  font-family: var(--poppins);
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 20px;
  padding: 12px 25px;
  border: #f5f5f5;
  border-radius: 10px;
  /* transform: translateX(45%); */
  text-transform: uppercase;
  transition: .6s;
}
.msg-form form .button:hover {
  background-color: rgb(49, 49, 49);
  color: var(--blue);
}

/* ----footer page------- */

.footer {
  /* border: 3px solid red; */
  height: 25em;
  margin-top: 5%;
  background-color: #34adbd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .top-footer{
  /* border: 2px solid red; */
  height: 85%;
  width: 90%;
  display: flex;
  gap: 20px;
}
.top-footer .top-footer1{
  /* border: 1px solid blue; */
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  padding: 10px;
}
.top-footer1 .footer-brand{
  /* border: 1px solid green; */
  height: 48%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

}
.footer-brand img{
  transform: rotate(-15deg);
  height: 70px;
  width: 60px;
}
.footer-brand .footer-brand-title{
  font-size: 2.2rem;
  font-family: var(--montserrat);
}
.footer-brand .footer-brand-subtitle{
  font-family: var(--montserrat);
  font-size: 1rem;
  font-weight: 500;
}
.top-footer .top-footer2{
  /* border: 1px solid blue; */
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.top-footer2 .quick-link{
  font-family: var(--poppins);
  font-size: 1.5rem;
  font-weight: 600;
}
.top-footer2 .top-footer-links{
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  width: 100%;
}
.top-footer-links a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--montserrat);
}

.top-footer .top-footer3{
  /* border: 1px solid blue; */
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.top-footer3 .follow-us{
  font-family: var(--poppins);
  font-size: 1.5rem;
  font-weight: 600;
}
.top-footer3 .top-footer-follow{
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  width: 100%;
}
.top-footer-follow a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--montserrat);
}

.top-footer .top-footer4{
  /* border: 1px solid blue; */
  height: 100%;
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.top-footer4 .contact-us{
  font-family: var(--poppins);
  font-size: 1.5rem;
  font-weight: 600;
}
.top-footer4 .top-footer-contact{
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
  height: 50%;
  width: 100%;
}
.top-footer-contact p{
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--montserrat);
}

.top-footer .top-footer5{
  /* border: 1px solid blue; */
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.top-footer5 .timing{
  font-family: var(--poppins);
  font-size: 1.5rem;
  font-weight: 600;
}
.top-footer5 .top-footer-timing{
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
  height: 50%;
  width: 100%;
}
.top-footer-timing p{
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--montserrat);
}

.footer .bottom-footer {
  border-top: 1px solid black;
  width: 95%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-footer .copyrights {
  font-family: var(--montserrat);
  font-size: 1rem;
  font-weight: 500;
}
.copyrights .cpyrights-name {
  color: white;
  cursor: pointer;
}


/* -------------------media query------------------- */
/* tab media */
@media all and (max-width: 768px) {
/* home-page */
  .navigation .logo {
    width: 40%;
  }
  .navigation .nav {
    display: none;
  }
  .icons .fa-heart,
  .icons .fa-cart-shopping,
  .icons .fa-user {
    display: none;
  }
  .icons .fa-bars {
    display: block;
  }


  /* contact page */
  .contact-page .contact-details{
    padding: 25px;
    width: 100%;
    gap: 10px;
  }
  .contact-details .contact-card{
    width: 30%;
    text-align: center;
    padding: 10px;
  }

  .contact-page .map-form {
    flex-direction: column;
    height: auto;
    gap: 30px;
  }
  .map-form .map{
    width: 90%;
  }
  .map iframe {
  width: 650px;
}
.map-form .msg-form{
  width: 80%;
  height:35em;
}



 /* footer page */
  .footer .top-footer{
    width: 100%;
    gap: 10px;
  }
  .top-footer .top-footer1{
    width: 20%;
  }
  .top-footer1 .footer-brand{
    height: 90%;
  }
  .footer-brand .footer-brand-title{
    font-size: 1.5rem;
  }
   .top-footer .top-footer2{
  width: 16%;
}
  .top-footer .top-footer3{
  width: 18%;
}
.top-footer .top-footer4{
  width: 24%;
}
  .top-footer .top-footer5{
    width: 15%;
  }
  .copyrights{
    text-align: center;
  }
}


/* mobile media */
 @media all and (max-width: 576px) {
  
/* home page */
  .navigation .logo {
    width: 55%;
  }
  .logo .brand {
    font-size: 1.5rem;
  }
  .navigation .nav {
    display: none;
  }
  .icons .fa-heart,
.icons .fa-cart-shopping,
.icons .fa-user {
    display: none;
  }
  .icons .fa-bars {
    display: block;
    font-size: 1.5rem;
  }

  /* contact page */
  .contact-page .contact-title{
    font-size: 1.5rem;
  }
  .contact-page .contact-details{
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 95%;
  }
  .contact-details .contact-card{
    width: 90%;
  }
  .contact-page .map-form{
    width: 90%;
    align-items: center;
  }
  .map-form .map{
    /* border: 1px solid; */
    width: 95%;
  }
  .map iframe {
  width: 310px;
}
.map-form .msg-form{
  width: 100%;
}
.msg-form form .button{
  width: 44%;
}

/* footer page */
  .footer{
    height: auto;
  }
  .footer .top-footer{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .top-footer .top-footer1{
    width: 90%;
  }
  .top-footer1 .footer-brand{
    align-items: center;
    text-align: justify;
  }
  .top-footer .top-footer2{
    width: 90%;
    gap: 10px;
    align-items: center;
  }
  .top-footer2 .top-footer-links{
    align-items: center;
  }
  .top-footer .top-footer3{
    width: 90%;
    gap: 10px;
    align-items: center;
  }
  .top-footer3 .top-footer-follow{
    align-items: center;
  }
  .top-footer .top-footer4{
    width: 90%;
    align-items: center;
  }
  .top-footer4 .top-footer-contact{
    gap: 10px;
    align-items: center;
  }
  .top-footer .top-footer5{
    width: 90%;
    align-items: center;
  }
  .top-footer5 .top-footer-timing{
    align-items: center;
    gap: 10px;
  }
  .bottom-footer .copyrights{
    font-size: .6rem;
    text-align: center;
  }
  
}