@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --poppins: "Poppins", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --blue: #068fa1;
  --light-color: #f0f7fa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* home page */
.wrapper .home-page {
  /* border: 1px solid red; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: none;
  animation: none;
}
/* header */
.home-page .header {
  /* border: 2px solid green; */
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255);
}
.header .navigation {
  /* border: 1px solid blue; */
  height: 12vh;
  width: 100%;
  max-width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .logo {
  /* border: 1px solid red; */
  height: inherit;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logo img {
  height: 60%;
  transform: rotate(-25deg);
}

.logo .brand {
  text-decoration: none;
  color: var(--blue);
  font-size: 2.2rem;
  font-weight: 600;
  font-family: var(--poppins);
  text-shadow: none;
}

/* nav bar */
.navigation .nav {
  /* border: 1px solid red; */
  width: 45%;
  height: 100%;
}
.nav ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav ul li a {
  /* border: 1px solid; */
  text-decoration: none;
  color: black;
  font-family: var(--montserrat);
  font-weight: 500;
  font-size: 1rem;
  padding: 5px;
  position: relative;
}
.nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--blue);
  border-radius: 20px;
  transition: 0.8s;
}
.nav ul li a:hover::after {
  width: 100%;
}

.navigation .icons {
  /* border: 1px solid red; */
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons .fa-heart,
.icons .fa-cart-shopping,
.icons .fa-user {
  font-size: 1.5rem;
  color: var(--blue);
  transition: 0.5s;
}
.icons .fa-bars {
  font-size: 2rem;
  color: var(--blue);
  display: none;
}
.icons .fa-heart:hover,
.icons .fa-cart-shopping:hover,
.icons .fa-user:hover {
  color: black;
}


/* ------------gucci-brand----------- */
.brand-collection{
  /* border: 2px solid red; */
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;

}
.brand-collection .brand-nav{
  /* border: 1px solid blue; */
  width: 18em;
  margin-left: 4%;
  font-family: var(--montserrat);
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand-collection .brand-nav a{
  text-decoration: none;
  color: black;
  transition: .6s;
}
.brand-nav a:hover{
  text-decoration-line: underline;
  color: var(--blue);
}

.brand-collection .brand-new-page{
  /* border: 2px solid green; */
  width: 100%;
  margin-top: 3%;
  display: flex;
  gap: 20px;
}
.brand-new-page .left-catlog-page{
  /* border: 1px solid blue; */
  width: 20%;
  /* height: 50em; */
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 10px;
  background: linear-gradient(
      to bottom,
      rgb(6, 143, 161, 0.9),
      rgb(240, 247, 250, 0.1)
      
    ), url(../image/brand-page.jpg);
  background-size: cover;
  background-position: center;
}
.left-catlog-page .catlog-content1{
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--montserrat);
  padding: 10px 20%;
}
.catlog-content1 .catlog-content-title{
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}
.catlog-content1 .catlog-content-subtitle{
  font-size: .9rem;
  font-weight: 500;
  color: white;
}
.left-catlog-page .catlog-content-pic{
  /* border: 1px solid; */
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.catlog-content-pic img{
  height: 100%;
  width: 90%;
}
.brand-new-page .right-catlog-page{
  /* border: 1px solid green; */
  width: 80%;
  /* height: 50em; */
  display: flex;
  justify-content: center;
}



/* collection page */
.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  background: none;
}
.products .product-title {
  /* font-family: var(--poppins);
  font-size: 2.5rem;
  text-transform: capitalize;
  color: var(--blue);*/
  margin-top: -15%; 
  height: 1em;
  width: 7em;
}
.products .collection-card {
  height: 40em;
  width: 100%;
  padding:0 1em 0 0 ;
  margin: 3% 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.collection-card .collect-card1 {
  /* border: 2px solid green; */
  height: 50%;
  width: 100%;
  display: flex;
  gap: 20px;
}

.collection-card .collect-card2 {
  /* border: 2px solid green; */
  height: 50%;
  width: 100%;
  display: flex;
  gap: 20px;
}

.collect-card1 .prod-col-card,
.collect-card2 .prod-col-card {
  border: 1px solid gray;
  height: 100%;
  width: 25%;
  border-radius: 10px;
  position: relative;
  transition: .8s;

}

.col-card1 {
  background: url(../specs-image/gucci-1.jpg) no-repeat;
  background-position: top center;
  background-size: 100% 80%;
  transition: .8s;
}
.col-card1:hover {
  background: url(../specs-image/gucci-2.jpg) no-repeat;
  background-position: top center;
  background-size: 100% 80%;
}

.col-card2 {
  background: url(../specs-image/gucci-4.jpg) no-repeat;
  background-position: top center;
  background-size: 100% 80%;
  transition: .8s;
}
.col-card2:hover {
  background: url(../specs-image/gucci-3.jpg) no-repeat;
  background-position: top center;
  background-size: 100% 80%;
}
.col-card3 {
  background: url(../specs-image/gucci-6.jpg) no-repeat;
  background-position: top center;
  background-size: 100% 80%;
  transition: 0.8s;
}
.col-card3:hover {
  background: url(../specs-image/gucci-5.jpg) no-repeat;
  background-position: top center;
  background-size: 100% 80%;
}
.col-card4 {
  background: url(../specs-image/gucci-8.jpg) no-repeat;
  background-position: top center;
  background-size: 100% 80%;
  transition: 0.8s;
}
.col-card4:hover {
  background: url(../specs-image/gucci-7.jpg) no-repeat;
  background-position: top center;
  background-size: 100% 80%;
}
.col-card5 {
  background: url(../specs-image/gucci-10.jpg) no-repeat;
  background-position: top center;
  background-size: 100% 80%;
  transition: 0.8s;
}
.col-card5:hover {
  background: url(../specs-image/gucci-9.jpg) no-repeat;
  background-position: top center;
  background-size: 100% 80%;
}
.col-card6 {
  background: url(../specs-image/gucci-12.jpg) no-repeat;
  background-position: top center;
  background-size: 100% 80%;
  transition: 0.8s;
}
.col-card6:hover {
  background: url(../specs-image/gucci-11.jpg) no-repeat;
  background-position: top center;
  background-size: 100% 80%;
}
.col-card7 {
  background: url(../specs-image/gucci-13.jpg) no-repeat;
  background-position: top center;
  background-size: 100% 80%;
  transition: 0.8s;
}
.col-card7:hover {
  background: url(../specs-image/gucci-14.jpg) no-repeat;
  background-position: top center;
  background-size: 100% 80%;
}
.col-card8 {
  background: url(../specs-image/gucci-15.jpg) no-repeat;
  background-position: top center;
  background-size: 100% 80%;
  transition: 0.8s;
}
.col-card8:hover {
  background: url(../specs-image/gucci-16.jpg) no-repeat;
  background-position: top center;
  background-size: 100% 80%;
}

.collection-bottom-card {
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: -1;
  opacity: 0;
  transition: 0.1s;
}

/* .collection-bottom-card .type, 
.collection-bottom-card .rate{
  border: 1px solid;
  background: rgba(255, 255, 255, 0.6 );
} */

.collection-bottom-card .new {
  /* border: 1px solid red; */
  background-color: var(--blue);
  font-family: var(--montserrat);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  width: 20%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.collection-bottom-card .add-to-cart {
  /* border: 1px solid red; */
  width: 65%;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  font-size: 1.8rem;
  background-color: rgb(0, 0, 0, 0.6);
  position: absolute;
  top: 38%;
  left: 18%;
  color: white;
  border-radius: 10px;
}

.add-to-cart .fa-heart:hover,
.add-to-cart .fa-cart-shopping:hover,
.add-to-cart .fa-expand:hover {
  transform: none;
  color: rgb(239, 103, 103);
  cursor: pointer;
}
.collection-bottom-card .type {
  font-family: var(--montserrat);
  font-size: 1.5rem;
  position: absolute;
  bottom: 15%;
}
.collection-bottom-card .rate {
  font-family: var(--montserrat);
  font-size: 1.2rem;
  position: absolute;
  bottom: 5%;
}
.collection-bottom-card .rating {
  /* border: 1px solid red; */
  position: absolute;
  bottom: 5%;
  right: 5px;
  font-size: 1.2rem;
}
.rating .fa-star {
  font-size: 1.2rem;
  color: gold;
}
.prod-col-card:hover .collection-bottom-card {
  z-index: 99;
  opacity: 1;
}

.collection-link {
  text-decoration: none;
  /* border: 1px solid red; */
  padding: 15px 20px;
  margin-bottom: 3%;
  font-family: var(--poppins);
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: var(--blue);
  border-radius: 20px;
  transition: 0.6s;
}
.collection-link:hover {
  transform: translateY(10px);
}



/* ----footer page------- */

.footer {
  /* border: 3px solid red; */
  height: 25em;
  margin-top: 5%;
  background-color: #34adbd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .top-footer{
  /* border: 2px solid red; */
  height: 85%;
  width: 90%;
  display: flex;
  gap: 20px;
}
.top-footer .top-footer1{
  /* border: 1px solid blue; */
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  padding: 10px;
}
.top-footer1 .footer-brand{
  /* border: 1px solid green; */
  height: 48%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

}
.footer-brand img{
  transform: rotate(-15deg);
  height: 70px;
  width: 60px;
}
.footer-brand .footer-brand-title{
  font-size: 2.2rem;
  font-family: var(--montserrat);
}
.footer-brand .footer-brand-subtitle{
  font-family: var(--montserrat);
  font-size: 1rem;
  font-weight: 500;
}
.top-footer .top-footer2{
  /* border: 1px solid blue; */
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.top-footer2 .quick-link{
  font-family: var(--poppins);
  font-size: 1.5rem;
  font-weight: 600;
}
.top-footer2 .top-footer-links{
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  width: 100%;
}
.top-footer-links a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--montserrat);
}

.top-footer .top-footer3{
  /* border: 1px solid blue; */
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.top-footer3 .follow-us{
  font-family: var(--poppins);
  font-size: 1.5rem;
  font-weight: 600;
}
.top-footer3 .top-footer-follow{
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  width: 100%;
}
.top-footer-follow a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--montserrat);
}

.top-footer .top-footer4{
  /* border: 1px solid blue; */
  height: 100%;
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.top-footer4 .contact-us{
  font-family: var(--poppins);
  font-size: 1.5rem;
  font-weight: 600;
}
.top-footer4 .top-footer-contact{
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
  height: 50%;
  width: 100%;
}
.top-footer-contact p{
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--montserrat);
}

.top-footer .top-footer5{
  /* border: 1px solid blue; */
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.top-footer5 .timing{
  font-family: var(--poppins);
  font-size: 1.5rem;
  font-weight: 600;
}
.top-footer5 .top-footer-timing{
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
  height: 50%;
  width: 100%;
}
.top-footer-timing p{
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--montserrat);
}

.footer .bottom-footer {
  border-top: 1px solid black;
  width: 95%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-footer .copyrights {
  font-family: var(--montserrat);
  font-size: 1rem;
  font-weight: 500;
}
.copyrights .cpyrights-name {
  color: white;
  cursor: pointer;
}



/* ------------media query------------ */
/* ----------tab view------------ */
@media all and (max-width: 768px){
    /* home-page */
  .navigation .logo {
    width: 40%;
  }
  .navigation .nav {
    display: none;
  }
  .icons .fa-heart,
  .icons .fa-cart-shopping,
  .icons .fa-user {
    display: none;
  }
  .icons .fa-bars {
    display: block;
  }

  .brand-collection .brand-new-page{
    gap: 10px;
  }
  .brand-new-page .left-catlog-page{
    width: 30%;
    gap: 20px;
  }
  .left-catlog-page .catlog-content1{
    padding: 10px;
  }
  .brand-new-page .right-catlog-page{
    padding: 10px;
  }
  /* collection page */
  .products{
    margin-top: 0;
  }
  .products .product-title {
    margin-top: 0%;
    height: .6em;
    width: 4em;
  }
  .products .collection-card{
    flex-direction: row;
    height: 45em;
    gap: 10px;
  }
  .collection-card .collect-card1 {
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 10px;
  }
  .collection-card .collect-card2 {
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 10px;
  }
  .collect-card1 .prod-col-card,
  .collect-card2 .prod-col-card {
    width: 100%;
  }
.prod-col-card{
    background-position: center;
    background-size: 50% 60%;
  }
  .prod-col-card:hover{
    background-position: center;
    background-size: 50% 60%;
  }
  .collection-bottom-card .new {
    padding: 10px;
  }
  .collection-bottom-card .add-to-cart {
    padding: 8px;
    font-size: 1.5rem;
    width: 50%;
    left: 25%;
  }
  .collection-bottom-card .type {
    font-size: 1.1rem;
  }
  .collection-bottom-card .rate {
    font-size: 0.9rem;
  }
  .collection-bottom-card .rating {
    font-size: 1rem;
  }

   /* footer page */
  .footer .top-footer{
    width: 100%;
    gap: 10px;
  }
  .top-footer .top-footer1{
    width: 20%;
  }
  .top-footer1 .footer-brand{
    height: 90%;
  }
  .footer-brand .footer-brand-title{
    font-size: 1.5rem;
  }
   .top-footer .top-footer2{
  width: 16%;
}
  .top-footer .top-footer3{
  width: 18%;
}
.top-footer .top-footer4{
  width: 24%;
}
  .top-footer .top-footer5{
    width: 15%;
  }
  .copyrights{
    text-align: center;
  }
} 






/* ----------mobile media---------- */
 @media all and (max-width: 576px) {
  /* home page */
  .navigation .logo {
    width: 55%;
  }
  .logo .brand {
    font-size: 1.5rem;
  }
  .navigation .nav {
    display: none;
  }
  .icons .fa-heart,
  .icons .fa-cart-shopping,
  .icons .fa-user {
    display: none;
  }
  .icons .fa-bars {
    display: block;
    font-size: 1.5rem;
  }


  .brand-collection .brand-nav{
    width: 15em;
    font-size: .9rem;
  }
  .brand-collection .brand-new-page{
    gap: 0;
  }
  .brand-new-page .left-catlog-page{
    width: 35%;
    gap: 20px;
    padding: 0;
  }
  .left-catlog-page .catlog-content1{
    padding: 40px 10px;
    width: 100%;
  }
  .catlog-content1 .catlog-content-title{
    font-size: 1rem;
  }
  .left-catlog-page .catlog-content-pic{
    height: 15%;
    width: 100%;
  }
   .catlog-content-pic img{
    width: 100%;
   }
  .brand-new-page .right-catlog-page{
    padding: 10px;
    
    
  }



  .products .collection-card {
    flex-direction: column;
    height: 70em;
    padding: 0;
  }
  .products .product-title {
    font-size: 2rem;
  }
  .collection-card .collect-card1 {
    width: 100%;
    height: 100%;
  }
  .collection-card .collect-card2 {
    width: 100%;
    height: 100%;
  }
  .collection-bottom-card .new {
    padding: 10px;
  }
  .prod-col-card{
    background-position: center;
    background-size: 50% 70%;
  }
  .prod-col-card:hover{
    background-position: center;
    background-size: 50% 70%;
  }
  .collection-bottom-card .add-to-cart {
    padding: 8px;
    font-size: 1.2rem;
    width: 60%;
    left: 20%;
  }
  .collection-bottom-card .type {
    font-size: .9rem;

  }
  .collection-bottom-card .rate {
    font-size: 0.8rem;
  }
  .collection-bottom-card .rating {
    font-size: 1rem;
  }
  .collection-link {
    font-size: 0.9rem;
  }

  /* footer page */
  .footer{
    height: auto;
  }
  .footer .top-footer{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .top-footer .top-footer1{
    width: 90%;
  }
  .top-footer1 .footer-brand{
    align-items: center;
    text-align: justify;
  }
  .top-footer .top-footer2{
    width: 90%;
    gap: 10px;
    align-items: center;
  }
  .top-footer2 .top-footer-links{
    align-items: center;
  }
  .top-footer .top-footer3{
    width: 90%;
    gap: 10px;
    align-items: center;
  }
  .top-footer3 .top-footer-follow{
    align-items: center;
  }
  .top-footer .top-footer4{
    width: 90%;
    align-items: center;
  }
  .top-footer4 .top-footer-contact{
    gap: 10px;
    align-items: center;
  }
  .top-footer .top-footer5{
    width: 90%;
    align-items: center;
  }
  .top-footer5 .top-footer-timing{
    align-items: center;
    gap: 10px;
  }
  .bottom-footer .copyrights{
    font-size: .6rem;
    text-align: center;
  }
 }