@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --poppins: "Poppins", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --blue: #068fa1;
  --light-color: #f0f7fa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* signup page */
.container {
  /* border: 1px solid red; */
  background: linear-gradient(to bottom, #9da0f1, #b390e0, #b98cdd);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .signup {
  /* border: 1px solid white; */
  height: 80%;
  width: 70%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  border: none;
  box-shadow: 0 0 15px;
}
.signup .left-signup {
  /* border: 1px solid orangered; */
  height: 100%;
  width: 50%;
  background: url(../image/model8.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.signup .right-signup {
  /* border: 1px solid orangered; */
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  font-family: var(--poppins);
}
.right-signup .signup-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--blue);
  margin-top: 5%;
}
.right-signup .signup-form {
  /* border: 1px solid blue; */
  height: 80%;
  width: 95%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.signup-form form {
  /* border: 1px solid red; */
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.signup-form form input {
  outline: none;
  background-color: rgb(235, 231, 231);
  width: 30em;
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 12px 15px;
  border: #f5f5f5;
  border-radius: 10px;
}

.signup-form form .submit {
  width: 40%;
  height: 12%;
  padding: 10px;
  background-color: var(--blue);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  transition: 0.8s;
}
.signup-form form .submit:hover {
  color: var(--blue);
  background-color: black;
}

.email-signup {
  /* border: 1px solid blue; */
  font-size: 0.8rem;
  font-weight: 400;
}

.signup-form .google-login {
  /* border: 1px solid black; */
  /* border-radius: 5px; */
  height: 10%;
  width: 22%;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.google-login .fa-brands {
  color: black;
  font-size: 1.4rem;
  transition: 0.6s;
}
.google-login .fa-brands:hover {
  color: var(--blue);
}

.signin-here {
  font-size: 0.8rem;
  text-decoration: none;
}
.signin-here a {
  text-decoration: none;
}





/* -------------------media query------------------- */
/* -----tab media----- */
@media all and (max-width: 768px) {

.container .signup{
    width: 90%;
    height: 60%;
}
.signup-form form input{
    width: 20em;
}
.signup-form form .submit{
    width: 50%;
}
}

/* mobile media */
@media all and (max-width: 576px) {
  /* signin page */
  .container .signup {
    width: 80%;
    height: 60%;
  }
  .signup .left-signup{
    display: none;
  }
  .signup .right-signup{
    width: 100%;
  }
  .right-signup .signup-title {
    font-size: 1.5rem;
  }
  .signup-form form{
    gap: 10px;
    height: 90%;
  }
  .signup-form form input{
    width: 18em;
  }
  .signup-form form .submit{
    height: 15%;
  }
}